<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>test.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>test.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActionServlet</servlet-name>
        <servlet-class>test.UserActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFormServlet</servlet-name>
        <servlet-class>forms.UserFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>login.LogoutServlet</servlet-class>
    </servlet>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>



    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/actions/s/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/actions/u/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActionServlet</servlet-name>
        <url-pattern>/actions/ua/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFormServlet</servlet-name>
        <url-pattern>/actions/f/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>


    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/examples/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/forms/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/users/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/actions/*</url-pattern>
    </filter-mapping>

</web-app>